
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}



body{
    display: flex;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    
}
  
.container{
    display: flex;
    width: 100vw;
    

  }

  .left{
    display: flex;
    flex-direction: column;
    background: #2A78AB;
    width: 45%;
    padding: 50px;
    gap: 30px;
    align-items: flex-start;
   
  }

  .profile-image{
    display: flex;
    
  }

  .profile-image img{
    width: 100%;
  }

  .left h1 {
    color: #fff;
    font-size: 57px;
    padding-left: 10px;
  }

  .left h4{
    color: #fff;
    font-size: 35px;
    padding-left: 10px;
  }

  .social-links{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 22px;
  }

  .links{
    display: flex;
    align-items: center;
    gap: 8px ;
  
  }

  .links a{
    color: #fff;
    font-weight: 300;
  }

  .links img{
    background: #fff;
    border-radius: 50%;
    padding: 1.7px;
  }

  .relevant-skills{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 15px;
    padding-left: 10px;
    
  }

  .relevant-skills h5{
    font-size: 29px;
  }

  .relevant-skills ul>li{
    font-size: 25px;
    font-weight: 400;
    list-style-type: disc;
    margin-left: 35px;
  }




  .right{
    display: flex;
    flex-direction: column;
    width: 55%;
    gap:50px;
    padding: 50px 0 50px 50px ;
  }
  
.flight-attendant,
.bachelor,
.flight-safety,
.first-aid{
  display: flex;
  align-items: center;
 
 
}

.right img{
 align-self: flex-start;
}
  

.right h2{
  background: #E0EFFA;
  padding: 25px;
  font-weight: bolder;
  
 
}

.text{
  display: flex;
  flex-direction: column;
  font-size: 27px;
}
  
.text li{
  margin-left: 50px;
}
 .text p,
 .text li{
  font-weight: 300;
 }

 @media (max-width:768px){

  .container{
    display: flex;
    flex-wrap: wrap;
  }
  .left{
    width: 100%;
  }

  .profile-image img{
    width: 300px;
    height: auto;
  }

  .right{
    width: 100%;
    
  }

  .text{
    font-size: 20px;
  }
 }

 
 

 
 